## Step 1 - Scraping

In [82]:
from splinter import Browser
from bs4 import BeautifulSoup
import time
import pandas as pd

## NASA Mars News

In [19]:
def init_browser():
    return Browser("chrome", executable_path = "/Users/hyunsookim/Downloads/chromedriver", headless=False)

In [20]:
browser = init_browser()
    
url="https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser.visit(url)
    
time.sleep(1)
    
html=browser.html
soup=BeautifulSoup(html, "html.parser")
browser.quit()

In [9]:
#news_title, news_p
news_title=soup.find("div",class_="content_title").text
news_p = soup.find("div",class_="article_teaser_body").text

In [10]:
news_title

"Curiosity Tastes First Sample in 'Clay-Bearing Unit'"

In [11]:
news_p

'This new region on Mars might reveal more about the role of water on Mount Sharp.'

## JPL Mars Space Images - Featured Image

In [12]:
browser=init_browser()

img_base_url ="https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(img_base_url)

time.sleep(1)

image_html=browser.html
soup=BeautifulSoup(image_html,"html.parser")
browser.quit()

background-image: url('/spaceimages/images/wallpaper/PIA11777-1920x1200.jpg');

In [ ]:
featured_image_tag=soup.find("article")['style']
print(featured_image_tag)

In [13]:
featured_image_list=list(featured_image_tag)

In [14]:
print(featured_image_list)

['b', 'a', 'c', 'k', 'g', 'r', 'o', 'u', 'n', 'd', '-', 'i', 'm', 'a', 'g', 'e', ':', ' ', 'u', 'r', 'l', '(', "'", '/', 's', 'p', 'a', 'c', 'e', 'i', 'm', 'a', 'g', 'e', 's', '/', 'i', 'm', 'a', 'g', 'e', 's', '/', 'w', 'a', 'l', 'l', 'p', 'a', 'p', 'e', 'r', '/', 'P', 'I', 'A', '1', '1', '7', '7', '7', '-', '1', '9', '2', '0', 'x', '1', '2', '0', '0', '.', 'j', 'p', 'g', "'", ')', ';']

In [15]:
featured_image_list.index("/")

23

In [16]:
featured_image=featured_image_tag[23:-3]

In [17]:
featured_image

'/spaceimages/images/wallpaper/PIA11777-1920x1200.jpg'

In [18]:
featured_image_url = img_base_url + featured_image
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars/spaceimages/images/wallpaper/PIA11777-1920x1200.jpg'

## Mars Weather

In [66]:
browser=init_browser()

weather_url ="https://twitter.com/marswxreport?lang=en"
browser.visit(weather_url)

time.sleep(1)

weather_html=browser.html
soup=BeautifulSoup(weather_html,"html.parser")
browser.quit()

In [78]:
mars_weather=soup.find("p",class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
mars_weather

'InSight sol 135 (2019-04-13) low -96.5ºC (-141.8ºF) high -16.6ºC (2.2ºF)\nwinds from the SW at 4.2 m/s (9.4 mph) gusting to 11.3 m/s (25.3 mph)\npressure at 7.30 hPapic.twitter.com/bRsLlzn4M0'

## Mars Facts

In [79]:
browser=init_browser()

mars_facts_url ="https://space-facts.com/mars/"
browser.visit(mars_facts_url)

time.sleep(1)

mars_facts_html=browser.html
soup=BeautifulSoup(mars_facts_html,"html.parser")
browser.quit()

In [80]:
mars_facts_table = soup.find("table", id="tablepress-mars")

In [81]:
mars_facts_table

<table class="tablepress tablepress-id-mars" id="tablepress-mars">
<tbody>
<tr class="row-1 odd">
<td class="column-1"><strong>Equatorial Diameter:</strong></td><td class="column-2">6,792 km<br/>
</td>
</tr>
<tr class="row-2 even">
<td class="column-1"><strong>Polar Diameter:</strong></td><td class="column-2">6,752 km<br/>
</td>
</tr>
<tr class="row-3 odd">
<td class="column-1"><strong>Mass:</strong></td><td class="column-2">6.42 x 10^23 kg (10.7% Earth)</td>
</tr>
<tr class="row-4 even">
<td class="column-1"><strong>Moons:</strong></td><td class="column-2">2 (<a href="https://space-facts.com/phobos/">Phobos</a> &amp; <a href="https://space-facts.com/deimos/">Deimos</a>)</td>
</tr>
<tr class="row-5 odd">
<td class="column-1"><strong>Orbit Distance:</strong></td><td class="column-2">227,943,824 km (1.52 AU)</td>
</tr>
<tr class="row-6 even">
<td class="column-1"><strong>Orbit Period:</strong></td><td class="column-2">687 days (1.9 years)<br/>
</td>
</tr>
<tr class="row-7 odd">
<td class="column-1"><strong>Surface Temperature: </strong></td><td class="column-2">-153 to 20 °C</td>
</tr>
<tr class="row-8 even">
<td class="column-1"><strong>First Record:</strong></td><td class="column-2">2nd millennium BC</td>
</tr>
<tr class="row-9 odd">
<td class="column-1"><strong>Recorded By:</strong></td><td class="column-2">Egyptian astronomers</td>
</tr>
</tbody>
</table>

In [ ]:
pd.read_html()

In [169]:
first_collumn =mars_facts_table.find_all("td",class_="column-1")

In [170]:
first_collumn

[<td class="column-1"><strong>Equatorial Diameter:</strong></td>,
 <td class="column-1"><strong>Polar Diameter:</strong></td>,
 <td class="column-1"><strong>Mass:</strong></td>,
 <td class="column-1"><strong>Moons:</strong></td>,
 <td class="column-1"><strong>Orbit Distance:</strong></td>,
 <td class="column-1"><strong>Orbit Period:</strong></td>,
 <td class="column-1"><strong>Surface Temperature: </strong></td>,
 <td class="column-1"><strong>First Record:</strong></td>,
 <td class="column-1"><strong>Recorded By:</strong></td>]

In [171]:
len(first_collumn)

9

In [172]:
first_collumn[0].find("strong").text

'Equatorial Diameter:'

In [214]:
list_descreption=['Description']
for i in range(len(first_collumn)):
        element = first_collumn[i].find("strong").text
        if element == "Surface Temperature: ":
            list_descreption.append(element[0:-2])
        else : 
            list_descreption.append(element[0:-1])

In [215]:
list_descreption

['Description',
 'Equatorial Diameter',
 'Polar Diameter',
 'Mass',
 'Moons',
 'Orbit Distance',
 'Orbit Period',
 'Surface Temperature',
 'First Record',
 'Recorded By']

In [216]:
second_collumn =mars_facts_table.find_all("td",class_="column-2")

In [217]:
second_collumn

[<td class="column-2">6,792 km<br/>
 </td>, <td class="column-2">6,752 km<br/>
 </td>, <td class="column-2">6.42 x 10^23 kg (10.7% Earth)</td>, <td class="column-2">2 (<a href="https://space-facts.com/phobos/">Phobos</a> &amp; <a href="https://space-facts.com/deimos/">Deimos</a>)</td>, <td class="column-2">227,943,824 km (1.52 AU)</td>, <td class="column-2">687 days (1.9 years)<br/>
 </td>, <td class="column-2">-153 to 20 °C</td>, <td class="column-2">2nd millennium BC</td>, <td class="column-2">Egyptian astronomers</td>]

In [218]:
list_value=['Value']
for j in range(len(second_collumn)):
    list_value.append(second_collumn[j].text)

In [220]:
for k in range(len(list_value)):
    if '\n' in list_value[k]:
        list_value[k]=list_value[k].replace('\n','')

In [221]:
list_value

['Value',
 '6,792 km',
 '6,752 km',
 '6.42 x 10^23 kg (10.7% Earth)',
 '2 (Phobos & Deimos)',
 '227,943,824 km (1.52 AU)',
 '687 days (1.9 years)',
 '-153 to 20 °C',
 '2nd millennium BC',
 'Egyptian astronomers']

In [222]:
mars_fact_dict=dict(zip(list_descreption,list_value))

In [223]:
mars_fact_dict

{'Description': 'Value',
 'Equatorial Diameter': '6,792 km',
 'Polar Diameter': '6,752 km',
 'Mass': '6.42 x 10^23 kg (10.7% Earth)',
 'Moons': '2 (Phobos & Deimos)',
 'Orbit Distance': '227,943,824 km (1.52 AU)',
 'Orbit Period': '687 days (1.9 years)',
 'Surface Temperature': '-153 to 20 °C',
 'First Record': '2nd millennium BC',
 'Recorded By': 'Egyptian astronomers'}

In [238]:
mars_facts_df=pd.DataFrame.from_dict(mars_fact_dict,orient='index')

In [239]:
mars_facts_df

                                                 0
Description                                  Value
Equatorial Diameter                       6,792 km
Polar Diameter                            6,752 km
Mass                 6.42 x 10^23 kg (10.7% Earth)
Moons                          2 (Phobos & Deimos)
Orbit Distance            227,943,824 km (1.52 AU)
Orbit Period                  687 days (1.9 years)
Surface Temperature                  -153 to 20 °C
First Record                     2nd millennium BC
Recorded By                   Egyptian astronomers